﻿/*█████████████████████████████████████████████████████████████████
    ERROR LOG                                   START
█████████████████████████████████████████████████████████████████*/


div#errorLog {
    overflow-y: auto;
}


div.logTemplate1 {
    display: none;
}

div.logTemplate2 {
    display: none;
}

/*█████████████████████████████████████████████████████████████████
                ERROR LOG           END
█████████████████████████████████████████████████████████████████*/


div.SourceText {
    position: relative;
    margin: auto;
    text-align: center;
    font-size: 75%;
    border: 0px solid red;
}

/**************************************
    Display Dist
*********************************/

#SCJDisplayDist_Displays1 > div > table.custom thead tr th, #SCJDisplayDist_Displays1 > div > table.custom tfoot tr th {
    font-size: 10px;
    color: #FFFFFF;
    padding: 15px 16px;
    background-color: #5f6588;
    border: 1px solid #000000;
    text-align: left;
}


#SCJDisplayDist_Displays1 > div > table {
    margin-top: 156px;
    margin-left: 153px;
    width: 720px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#tblSCJ_DisplayDistribution_All1 > tbody {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#SCJDisplayDist_Displays1 > div > table > tbody > tr > td:nth-child(1) {
    text-align: left;
    padding-right: 7px;
}

#SCJDisplayDist_Displays1 > div > table > thead > tr > th:nth-child(2), #SCJDisplayDist_Displays1 > div > table > thead > tr > th:nth-child(3) {
    text-align: center;
}

#SCJDisplayDist_Displays1 > div > table > tbody > tr > td:nth-child(2), #SCJDisplayDist_Displays1 > div > table > tbody > tr > td:nth-child(3) {
    text-align: center;
    padding-right: 7px;
}

/*#SCJDisplayDist_Displays1 > div > div {
    position: relative;
    margin-left: 377px;
    margin-top: 15px;
}*/


div#tblSCJ_DisplayDistribution_All1 table.custom {
    margin-top: 155px;
    width: 797px;
    border: 1px solid #000000;
}


#SCJDisplayDist_Displays1 > div > div {
    margin-top: 11px;
}


/**************************************
    Display Dist end
*********************************/


/******************************************************
            SCJ Dynamic Pallet Data
 ************************************************************/

div.Pallet1a {
    position: absolute;
    margin-left: 415px;
    margin-top: 200px;
    text-align: center;
    font-size: 100%;
    border: 0px solid yellow;
}


div.Pallet1b {
    position: absolute;
    margin-left: 414px;
    margin-top: 222px;
    text-align: center;
    font-size: 100%;
    border: 0px solid blue;
}

div.Pallet2a {
    position: absolute;
    margin-left: 645px;
    margin-top: 200px;
    text-align: center;
    font-size: 100%;
    border: 0px solid red;
}

div.Pallet2b {
    position: absolute;
    margin-left: 645px;
    margin-top: 223px;
    text-align: center;
    font-size: 100%;
    border: 0px solid red;
}

div.Pallet3a {
    position: absolute;
    margin-left: 871px;
    margin-top: 201px;
    text-align: center;
    font-size: 100%;
    border: 0px solid orange;
}

div.Pallet3b {
    position: absolute;
    margin-left: 871px;
    margin-top: 222px;
    text-align: center;
    font-size: 100%;
    border: 0px solid orange;
}



div.Pallet3c {
    position: absolute;
    margin-left: 871px;
    margin-top: 241px;
    text-align: center;
    font-size: 100%;
    border: 0px solid orange;
}

div.Pallet4a {
    position: absolute;
    margin-left: 188px;
    margin-top: 450px;
    text-align: center;
    font-size: 100%;
    border: 0px solid red;
}

div.Pallet5a {
    position: absolute;
    margin-left: 415px;
    margin-top: 450px;
    text-align: center;
    font-size: 100%;
    border: 0px solid red;
}

div.Pallet6a {
    position: absolute;
    margin-left: 643px;
    margin-top: 450px;
    text-align: center;
    font-size: 100%;
    border: 0px solid red;
}

div.StoreNumber {
    position: absolute;
    margin-left: 150px;
    margin-top: 206px;
    text-align: center;
    font-size: 110%;
    border: 0px solid red;
}



.pStyle {
    font-weight: 800;
    color: black;
}

div.SCJ_Holiday_Info1 {
    position: absolute;
    margin-left: 696px;
    margin-top: 664px;
    text-align: center;
    font-size: 79%;
    border: 0px solid red;
    width: 300px;
}

.STCity ul, .STGladePISCO3cthalfPallet ul, .STGladeCandlehalfPallet ul, .STGladeTVEndcap ul,
.STGladeGMPISOhalfPallet ul, .STZiploc504unit1 ul, .STZiploc504unit2 ul, .STZiploc504unit3 ul,
.STZiploc366unit1 ul, .STZiploc366unit2 ul, .STGlade97unit ul, .STZiploc366unit3 ul, .SCJ_Holiday_Info1 ul {
    list-style-type: none;
    display: inline;
}

#cityCont {
    width: 200px;
    position: absolute;
    margin-left: 75px;
    margin-top: 246px;
    text-align: center;
    font-size: 100%;
    border: 0px solid red;
}

#theCity {
    display: table;
    margin: 0 auto;
}

/******************************************************
            SCJ Dynamic Pallet Data END
 ************************************************************/


/*█████████████████████████████████████████████████████████████████
               SCJ LAG          START
█████████████████████████████████████████████████████████████████*/

#SCJSSO_AirCareGlade1 > div > div.GldPallet1a, #SCJSSO_AirCareGlade1 > div > div.GldPallet1b, #SCJGladeFallDisplay {
    position: absolute;
}

#SCJSSO_AirCareGlade1 > div > div.GldPallet1b {
    margin-left: 687px;
    margin-top: 277px;
}

#SCJSSO_AirCareGlade1 > div > div.GldPallet1a {
    margin-left: 507px;
    margin-top: 277px;
}


.TotalRetailVal {
    display: table;
}

.values {
    display: table-cell;
    text-align: center;
}

#HVTotalRetailValue {
    position: absolute;
    margin-left: 581px;
    margin-top: 402px;
    color: black;
    font-size: 25px;
    font-weight: bold;
    width: 200px;
    text-align: center;
}


#HVTotalProfit {
    position: absolute;
    margin-left: 581px;
    margin-top: 515px;
    color: black;
    font-size: 25px;
    font-weight: bold;
    width: 200px;
    text-align: center;
}


#SVTotalRetailValue {
    position: absolute;
    margin-left: 496px;
    margin-top: 457px;
    color: black;
    font-size: 30px;
    font-weight: bold;
    width: 224px;
    text-align: center;
    background-color: white;
    height: 49px;
    padding-top: 14px;
}


#SVTotalProfit {
    position: absolute;
    margin-left: 725px;
    margin-top: 457px;
    color: black;
    font-size: 30px;
    font-weight: bold;
    width: 224px;
    text-align: center;
    background-color: white;
    height: 49px;
    padding-top: 14px;
}

input#SCJGladeFallDisplay {
    text-align: center;
    background-color: #e8e8e8;
    margin-left: 848px;
    margin-top: 275px;
    width: 56px;
    height: 26px;
    font-weight: bold;
    font-size: 100%;
}

div.SCJ_SSOGlade_Info1S {
    position: absolute;
    margin-left: 667px;
    margin-top: 664px;
    text-align: center;
    font-size: 79%;
    border: 0px solid red;
    width: 300px;
}

div.SCJ_SSOGlade_Info1L {
    position: absolute;
    margin-left: 762px;
    margin-top: 664px;
    text-align: center;
    font-size: 79%;
    border: 0px solid red;
    width: 300px;
}

.SCJ_SSOGlade_Info1L ul, .SCJ_SSOGlade_Info1S ul {
    list-style-type: none;
    display: inline;
}



#clearHBCParent {
    position: absolute;
    margin-top: 193px;
    margin-left: 893px;
    border: 3px solid #27C3F4;
    border-radius: 0px;
}


    #clearHBCParent:hover {
        background-color: #27C3F4;
        color: white;
    }

#clearHBC:hover {
    color: white;
}

#clearHBC {
    height: 19px;
    width: 49px;
    vertical-align: middle;
    color: #27C3F4;
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;
    padding-top: 2px;
}

input[type="tel"] {
    border: 1px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2) {

    input[type="tel"] {
        /* margin-left: -60px; */
        /*padding-left: 9px;*/
        /*background-color:cornflowerblue;*/
        width: 56px;
        text-align: center;
        margin-right: -3px;
        border-radius: 0;
        border: 1px;
    }

    #clearHBC {
        padding-top: 0px;
        height: 22px;
    }

    #clearHBCParent {
        margin-top: 190px;
    }
}


div.SCJ_SSOSuperValu_Info1 ul {
    list-style-type: none;
    display: inline;
}

/*█████████████████████████████████████████████████████████████████
               SCJ LAG          START
█████████████████████████████████████████████████████████████████*/


/*█████████████████████████████████████████████████████████████████
              SuperValue         START
█████████████████████████████████████████████████████████████████*/

#SCJSSO_SuperValu1 > div > div.SuperValu1, #SCJSSO_SuperValu1 > div > div.SuperValu2,
#SCJSSO_SuperValu1 > div > div.SuperValu3, #SCJSSO_SuperValu1 > div > div.SuperValu4,
#SCJSSO_SuperValu1 > div > div.SuperValu5, #SCJSSO_SuperValu1 > div > div.SuperValu6,
.SuperValInpt {
    position: absolute;
}

input.SVinput {
    position: absolute;
}

input.SVinput {
    text-align: center;
    background-color: #e8e8e8;
    width: 56px;
    height: 26px;
    font-weight: bold;
    font-size: 100%;
}


#SCJSSO_SuperValu1 > div > div.SuperValu1 {
    margin-left: 205px;
    margin-top: 213px;
}

#SCJSSO_SuperValu1 > div > div.SuperValu2 {
    margin-left: 431px;
    margin-top: 213px;
}

#SCJSSO_SuperValu1 > div > div.SuperValu3 {
    margin-left: 659px;
    margin-top: 213px;
}

#SCJSSO_SuperValu1 > div > div.SuperValu4 {
    margin-left: 888px;
    margin-top: 213px;
}

#SCJSSO_SuperValu1 > div > div.SuperValu5 {
    margin-left: 204px;
    margin-top: 462px;
}

#SCJSSO_SuperValu1 > div > div.SuperValu6 {
    margin-left: 433px;
    margin-top: 462px;
}

div.SCJ_SSOSuperValu_Info1 {
    position: absolute;
    margin-left: 718px;
    margin-top: 664px;
    text-align: center;
    font-size: 79%;
    border: 0px solid red;
    width: 300px;
}

#SCJSSO_SuperValu1 > div > input.SuperValInpt1.SVinput {
    margin-top: 360px;
    margin-left: 198px;
}

#SCJSSO_SuperValu1 > div > input.SuperValInpt2.SVinput {
    margin-top: 360px;
    margin-left: 426px;
}

#SCJSSO_SuperValu1 > div > input.SuperValInpt3.SVinput {
    margin-top: 360px;
    margin-left: 654px;
}

#SCJSSO_SuperValu1 > div > input.SuperValInpt4.SVinput {
    margin-top: 360px;
    margin-left: 882px;
}

#SCJSSO_SuperValu1 > div > input.SuperValInpt5.SVinput {
    margin-top: 623px;
    margin-left: 198px;
}

#SCJSSO_SuperValu1 > div > input.SuperValInpt6.SVinput {
    margin-top: 623px;
    margin-left: 426px;
}
/*█████████████████████████████████████████████████████████████████
              SuperValue         END
█████████████████████████████████████████████████████████████████*/

/************************************************\
   Hidden Slides Table
*************************************************/

table#tblHiddenSlides {
    position: absolute;
    margin-top: 206px;
    margin-left: 77px;
}

#tblHiddenSlides > thead {
    display: none;
}


#tblHiddenSlides > tbody > tr {
    border-bottom: 1px solid #D2D2D2;
}

#tblHiddenSlides > tbody {
    border-left: 1px solid #D2D2D2;
    border-right: 1px solid #D2D2D2;
    border-bottom: 1px solid #D2D2D2;
}

    #tblHiddenSlides > tbody > tr > td:nth-child(3), #tblHiddenSlides > tbody > tr > td:nth-child(2) {
        text-align: center;
        border-right: 1px solid #D2D2D2;
    }

    #tblHiddenSlides > tbody > tr > td:nth-child(4) {
        text-align: center;
    }

    #tblHiddenSlides > tbody > tr > td:nth-child(1) {
        padding-left: 8px;
        padding-right: 2px;
        border-right: 1px solid #D2D2D2;
    }


    #tblHiddenSlides > tbody > tr > td {
        vertical-align: middle;
    }

#tblHiddenSlides > tbody {
    max-height: 352px;
    width: 823px;
}

    #tblHiddenSlides > tbody > tr > td {
        border: 0px;
    }



        #tblHiddenSlides > tbody > tr > td:nth-child(1) {
            text-align: left;
        }

    #tblHiddenSlides > tbody > tr:last-child > td:nth-child(3) {
        border-left: 1px solid #D2D2D2;
        border-right: 1px solid #D2D2D2;
    }

    #tblHiddenSlides > tbody > tr:last-child > td:nth-child(2) {
        border-left: 1px solid #D2D2D2;
    }

    #tblHiddenSlides > tbody > tr:last-child > td:nth-child(4) {
        border-left: 1px solid #D2D2D2;
    }



    /************************************************\
   Hidden Slides Table End
*************************************************/


    #tblHiddenSlides > tbody > tr:last-child > td:nth-child(1),
    #tblHiddenSlides > tbody > tr:last-child > td:nth-child(2),
    #tblHiddenSlides > tbody > tr:last-child > td:nth-child(3),
    #tblHiddenSlides > tbody > tr:last-child > td:nth-child(4) {
        border-bottom: 0px;
    }




/**************************************
    Display Dist
*********************************/

#SCJFood_DisplayDist1 > div > table.custom thead tr th, #SCJFood_DisplayDist1 > div > table.custom tfoot tr th {
    font-size: 10px;
    color: #FFFFFF;
    padding: 15px 16px;
    background-color: #5f6588;
    border: 1px solid #000000;
    text-align: left;
}


#SCJFood_DisplayDist1 > div > table {
    margin-top: 156px;
    margin-left: 153px;
    width: 720px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#tblSCJ_DisplayDistribution_All1 > tbody {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#SCJFood_DisplayDist1 > div > table > tbody > tr > td:nth-child(1) {
    text-align: left;
    padding-right: 7px;
}

#SCJFood_DisplayDist1 > div > table > thead > tr > th:nth-child(2), #SCJFood_DisplayDist1 > div > table > thead > tr > th:nth-child(3) {
    text-align: center;
}

#SCJFood_DisplayDist1 > div > table > tbody > tr > td:nth-child(2), #SCJFood_DisplayDist1 > div > table > tbody > tr > td:nth-child(3) {
    text-align: center;
    padding-right: 7px;
}

/*#SCJFood_DisplayDist1 > div > div {
    position: relative;
    margin-left: 377px;
    margin-top: 15px;
}*/


div#tblSCJ_DisplayDistribution_All1 table.custom {
    margin-top: 155px;
    width: 797px;
    border: 1px solid #000000;
}


#SCJFood_DisplayDist1 > div > div {
    margin-top: 11px;
}

#SCJFood_DisplayDist1 table.custom {
    display: block;
    background-image: none;
    border: 0px solid red;
    font-size: 14px;
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 0px 0px 0px 0px;
}

    #SCJFood_DisplayDist1 table.custom tbody {
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #SCJFood_DisplayDist1 table.custom tbody, table.custom thead {
        display: block;
    }

    #SCJFood_DisplayDist1 table.custom tr td {
        background-color: #FFFFFF;
        border: 1px solid #000000;
        padding: 15px;
        text-align: right;
        color: #000000;
    }

/**************************************
    Display Dist end
*********************************/




/****************************************************
    SCJFood_FSI1 <START>
***********************************************/
#SCJ_FSIWM_All1_filters {
    margin-top: 133px;
    margin-left: 113px;
}

#SCJFood_FSI1select {
    background-color: #EDEDED;
    border: transparent;
    -webkit-appearance: none;
    width: 146px;
}

#tblSCJ_FSIWM_All1 > thead > tr > th {
    background-color: transparent;
    border: 0;
}

a.FSIClearButton {
    position: absolute;
    height: 24px;
    width: 49px;
    left: 288px;
    top: 127px;
    border: 0px solid crimson;
}

#SCJFood_FSI1 > div > table {
    margin-top: 25px;
    margin-left: 0px;
    width: 966px;
    border: 0;
}

    #SCJFood_FSI1 > div > table > thead {
        background-color: transparent;
        height: 38px;
    }

    #SCJFood_FSI1 > div > table > tbody {
        max-height: 293px;
    }

#tblSCJ_FSIWM_All1 > tbody > tr > td {
    border-left: 0;
    border-right: 0;
}

#tblSCJ_FSIWM_All1 > thead > tr > th:nth-child(1) {
    visibility: hidden;
}


#SCJFood_FSI1 > div > table > tbody > tr > td:nth-child(2) {
    text-align: left;
    padding-left: 15px;
    padding-right: 4px;
}

#SCJFood_FSI1 > div > table > tbody > tr > td:nth-child(3) {
    /*background-color: cornflowerblue;*/
    text-align: center;
}

#SCJFood_FSI1 > div > table > tbody > tr > td:nth-child(4) {
    /*background-color: crimson;*/
    text-align: center;
}

#SCJFood_FSI1 > div > table > tbody > tr > td:nth-child(5) {
    /*background-color: cornflowerblue;*/
    text-align: left;
    padding-left: 34px;
}

#SCJFood_FSI1 > div > table > tbody > tr > td:nth-child(6) {
    /*background-color: crimson;*/
    text-align: center;
    padding-right: 63px;
}

#tblSCJ_FSIWM_All1 > thead > tr > th:nth-child(2) {
    padding-right: 43px;
}

#tblSCJ_FSIWM_All1 > thead > tr > th:nth-child(5) {
    padding-right: 58px;
}

div.FSISourceText {
    position: absolute;
    font-size: 60%;
    border: 0px solid red;
    margin-left: 753px;
    margin-top: 136px;
    width: 468px;
}


.FSISourceText ul {
    list-style-type: none;
    display: inline;
}

/****************************************************
    SCJFood_FSI1 <END>
***********************************************/





/*************************************************
        Display Overlay CSS
****************************************************/




#showProductsButton {
    margin-top: -9px;
    margin-left: -474px;
    position: absolute;
    z-index: 100;
    height: 27px;
    width: 89px;
    border-radius: 23px;
    border: 0px solid crimson;
}

#clearLS {
    background-color: transparent;
    opacity: .7;
    margin-top: -9px;
    margin-left: 429px;
    position: absolute;
    z-index: 100;
    height: 28px;
    width: 90px;
    border-radius: 23px;
    border: 0px solid;
}

#view-navigator {
    position: absolute;
    /* border: 7px ridge crimson; */
    /* border-radius: 15px; */
    margin-left: 472px;
    margin-top: 8px;
    z-index: 100;
}

div#navi {
    position: absolute;
    z-index: 99;
    /*background-color: lightgrey;*/
    height: 44px;
    width: 998px;
    margin-top: 639px;
}

#pitchCanvas {
    z-index: 100;
    /* background: white; */
    width: 1221px;
    left: 0px;
    position: absolute;
    max-height: 641px;
    margin-left: -221px;
    overflow-x: auto;
    /* white-space: nowrap; */
}

.willSlide {
    direction: rtl;
}

/*
.willSlide::-webkit-scrollbar {
    width: 1em;
}
 
.willSlide::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.willSlide::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


.willSlide{
    z-index: 98;
    left: 0px;
    position: absolute;
    max-height: 641px;    
}


*/
/*#imagePanel {
    /*position:absolute;
    width: 150px;
    height: 400px;
    background-color: crimson;
    z-index: 100;
    display:none;
    border: 0;
}*/


input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: transparent;
}

.fa-2x {
    color: #595959;
    font-size: 1.5em;
}

label.custom-file-upload {
    padding: 5px;
}



#droppable-2 {
    position: absolute;
    /*//z-index: 100;*/
    width: 997px;
    height: 640px;
    background-color: transparent;
}

.hammerInstance {
    position: absolute;
    cursor: move;
    z-index: 51;
}

#divDisplay1 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 27px;
    left: 37px;
}

#disLabel1 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    font-weight: 700;
    font-size: medium;
    text-align: center;
    margin-top: 163px;
    left: 11px;
    width: 170px;
}

#divDisplay2 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 206px;
    left: 38px;
}

#disLabel2 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 338px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
    left: 11px;
    width: 170px;
}


#divDisplay3 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 371px;
    left: 36px;
}

#disLabel3 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 500px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
    left: 11px;
    width: 170px;
}


#divDisplay4 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 539px;
    left: 36px;
}

#disLabel4 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 669px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
    left: 11px;
    width: 170px;
}

#divDisplay5 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 698px;
    left: 36px;
}

#disLabel5 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 826px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
    left: 11px;
    width: 170px;
}


#divDisplay6 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 868px;
    left: 38px;
}

#disLabel6 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 1003px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
    left: 11px;
    width: 170px;
}


#divDisplay7 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 1047px;
    left: 36px;
}

#disLabel7 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 1185px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
    left: 11px;
    width: 170px;
}


#divDisplay8 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 1230px;
    left: 36px;
}

#disLabel8 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 1361px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
    left: 11px;
    width: 170px;
}


#divDisplay9 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 1388px;
    left: 36px;
}

#disLabel9 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 1524px;
    left: 59px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}


#divDisplay10 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 1554px;
    left: 36px;
}

#disLabel10 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 1683px;
    left: 56px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}


#divDisplay11 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 1721px;
    left: 38px;
}

#disLabel11 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 1857px;
    left: 56px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}



#divDisplay12 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 1893px;
    left: 38px;
}

#disLabel12 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 2027px;
    left: 56px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}


#divDisplay13 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 2069px;
    left: 38px;
}

#disLabel13 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 2206px;
    left: 56px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}



#divDisplay14 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 2244px;
    left: 36px;
}

#disLabel14 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 2376px;
    left: 56px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}



#divDisplay15 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 2412px;
    left: 36px;
}

#disLabel15 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 2547px;
    left: 56px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}


#divDisplay16 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 2600px;
    left: 36px;
}

#disLabel16 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 2735px;
    left: 56px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}


#divDisplay17 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 2791px;
    left: 36px;
}

#disLabel17 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 2929px;
    left: 56px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}


#divDisplay18 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 2969px;
    left: 36px;
}

#disLabel18 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 3109px;
    left: 56px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}


#divDisplay19 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 3142px;
    left: 38px;
}

#disLabel19 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 3272px;
    left: 56px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}


#divDisplay20 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 3322px;
    left: 36px;
}

#disLabel20 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 3459px;
    left: 56px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}


#divDisplay21 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 3493px;
    left: 35px;
}

#disLabel21 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 3638px;
    left: 56px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}


#divDisplay22 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 3685px;
    left: 36px;
}

#disLabel22 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 3819px;
    left: 56px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}


#divDisplay23 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 3861px;
    left: 36px;
}

#disLabel23 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 3992px;
    left: 53px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}


#divDisplay24 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 4022px;
    left: 36px;
}

#disLabel24 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 4153px;
    left: 56px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}


#divDisplay25 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 4199px;
    left: 34px;
}

#disLabel25 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 4338px;
    left: 56px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}


#divDisplay26 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 4384px;
    left: 34px;
}

#disLabel26 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
margin-top: 4520px;
    left: 56px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}


#divDisplay27 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 4565px;
    left: 34px;
}

#disLabel27 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 4701px;
    left: 56px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}

#divDisplay28 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 4748px;
    left: 38px;
}

#disLabel28 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 4887px;
    left: 56px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}


#divDisplay29 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 4932px;
    left: 36px;
}

#disLabel29 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 5062px;
    left: 53px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}

#divDisplay30 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 5099px;
    left: 36px;
}

#disLabel30 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 5221px;
    left: 56px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}

#divDisplay31 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 5259px;
    left: 36px;
}

#disLabel31 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 5392px;
    left: 56px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}

#divDisplay32 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 5429px;
    left: 34px;
}

#disLabel32 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 5564px;
    left: 56px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}

#divDisplay33 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 5600px;
    left: 36px;
}

#disLabel33 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 5737px;
    left: 56px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}

#divDisplay34 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 5778px;
    left: 36px;
}

#disLabel34 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 5905px;
    left: 56px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}

#divDisplay35 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 5945px;
    left: 34px;
}

#disLabel35 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 6072px;
    left: 53px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}

#divDisplay36 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 6107px;
    left: 36px;
}

#disLabel36 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 6231px;
    left: 56px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}

#divDisplay37 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 6276px;
    left: 36px;
}

#disLabel37 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 6408px;
    left: 56px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}

#divDisplay38 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 6452px;
    left: 36px;
}

#disLabel38 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 6583px;
    left: 56px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}

#divDisplay39 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 6624px;
    left: 36px;
}

#disLabel39 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 6755px;
    left: 56px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}

#divDisplay40 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 6795px;
    left: 36px;
}

#disLabel40 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 6925px;
    left: 56px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}

#divDisplay41 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 6975px;
    left: 36px;
}

#disLabel41 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 7105px;
    left: 37px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}

#divDisplay42 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 7162px;
    left: 36px;
}

#disLabel42 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 7290px;
    left: 37px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}

#divDisplay43 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 7344px;
    left: 36px;
}

#disLabel43 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 7454px;
    left: 37px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}

#divDisplay44 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 7518px;
    left: 36px;
}

#disLabel44 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 7652px;
    left: 37px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}

#divDisplay45 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 7705px;
    left: 36px;
}

#disLabel45 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 7840px;
    left: 37px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}

#divDisplay46 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font: 13px Arial;
    cursor: move;
    z-index: 101;
    margin-top: 7878px;
    left: 36px;
}

#disLabel46 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    z-index: 101;
    margin-top: 7982px;
    left: 37px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}

#segrip {
    width: 5px;
    height: 5px;
    background-color: #ffffff;
    border: 1px solid #000000;
}

#segrip {
    position: absolute;
    /*position: fixed;*/
    bottom: -5px;
    right: -5px;
    z-index: 100;
}


/*#myImage {
    border: 0px;
    position: fixed;
    width: 997px;
    height: 640px;
    z-index: -10;
}*/

#backgroundImage {
    position: absolute;
    z-index: -100;
    margin-left: 1px;
}


/*#displaysBG {
   position: fixed;
    background: white;
    width: 200px;
    border: 0px solid red;
    z-index: 100;
    height: 639px;
}*/

#displaysBG {
    position: absolute;
    padding: 1px;
    z-index: 100;
    margin-top: -272px;
    /* border: 2px solid red; */
    height: 8300px;
    left: 0px;
    background: white;
    width: 200px;
    opacity: 0.9;
    /*background: rgba(255, 255, 255, 0.36);*/
}

label {
    font-family: Helvetica, sans-serif;
    color: black;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 500px; /* Full width */
    height: 100%; /* Full height */
    /*overflow: auto;*/ /* Enable scroll if needed */
    /* background-color: rgb(0,0,0); /* Fallback color */
    /* background-color: rgba(0,0,0,0.4);*/ /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    height: 12%;
    width: 13%;
    margin-left: 380px;
    margin-top: 432px;
}

/* The Close Button */
.close {
    color: #737373;
    float: right;
    font-size: 14px;
    font-weight: bold;
    margin-top: 14px;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

#deviceCamera {
    height: 38px;
    width: 195px;
    margin-top: 8px;
    margin-left: 0px;
    border: 0px solid crimson;
    z-index: 100;
    position: absolute;
}

#cameraRoll {
    height: 38px;
    width: 195px;
    margin-top: 52px;
    z-index: 100;
    position: absolute;
    border: 0px solid blue;
}

#closeModal {
    height: 38px;
    width: 38px;
    margin-top: -14px;
    margin-left: 175px;
    z-index: 110;
    position: absolute;
    border: 0px solid orange;
    border-radius: 20px;
}


#modalImages > img.camRoll {
    width: 75px;
    margin-left: 28px;
}

#modalImages > img.devCam {
    width: 75px;
    margin-left: 28px;
}

#modalButtons {
    margin-top: -76px;
}

#vKeys {
    position: absolute;
    z-index: 200000;
    margin-left: 205px;
}

#pKeys {
    position: absolute;
    z-index: 200000;
    margin-left: 205px;
    margin-top: 19px;
}

#takePictureField > img {
    height: 37px;
    margin-top: -7px;
    position: absolute;
    z-index: 1;
}

#myModal {
    height: 611px;
    margin-left: 11px;
    margin-top: -3px;
    border: 0px solid crimson;
}

    #myModal > div > img {
        height: 113px;
        width: 204px;
    }


img#displayOverlayBar {
    position: absolute;
    width: 988px;
    height: 24px;
    top: -7px;
    left: -471px;
}

img#myImage {
    /* height: 640px;*/
    z-index: -10;
}

.defaultImageClass {
    border: 0px;
    position: fixed;
    width: 997px;
    /* height: 640px;*/
    z-index: -10;
}

.centerImage {
    border: 0px;
    position: fixed;
    /*    width: 425px;
*/ /*  height: 640px;*/
    /* z-index: -10;*/
    margin-left: 280px;
}



@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1) {

    .centerImage {
        border: 0px;
        position: fixed;
        margin-left: 265px;
    }
}




.redButton {
    height: 24px;
    width: 24px;
    margin-left: 0px;
    margin-top: -31px;
    position: absolute;
    z-index: 1000000000;
}

div#imageO {
    height: 20px;
    width: 182px;
    background-color: deepskyblue;
    z-index: 100000000;
    position: absolute;
    margin-left: 42px;
}

div#imageO2 {
    height: 20px;
    width: 182px;
    background-color: tomato;
    z-index: 100000000;
    position: absolute;
    margin-left: 235px;
}

div#scrollO {
    height: 20px;
    width: 167px;
    background-color: lawngreen;
    z-index: 100000000;
    position: absolute;
    margin-left: -372px;
}

div#scrollO2 {
    height: 20px;
    width: 167px;
    background-color: plum;
    z-index: 100000000;
    position: absolute;
    margin-left: -172px;
}


a#takePictureField {
    margin-top: -8px;
    height: 24px;
    border: 0px solid crimson;
    width: 44px;
    position: absolute;
    z-index: 100;
}


.isrTable {
    display: table;
}

.isrRow {
    display: table-row;
}

.isrCell {
    display: table-cell;
    text-align: center;
}




/*************************************************
        Display Overlay CSS END
****************************************************/


/*************SUGGESTED ORDER START**************/



#tblSCJ_SuggestedOrder_All1 > tbody > tr td:nth-child(5) > input {
    border: 1px solid gray;
    width: 48px;
    height: 16px;
}

#SCJ_SuggestedOrderFilters {
    margin-top: 122px;
    margin-left: 110px;
}

    #SCJ_SuggestedOrderFilters > button {
        width: 52px;
        height: 24px;
        background: transparent;
        border: none;
    }

#SCJ_Select {
    margin-left: 413px;
    margin-top: 128px;
    position: absolute;
    font-size: 13px;
    color: black;
}

#SCJ_SuggestedOrderSelect {
    margin-left: 7px;
    margin-top: -10px;
    width: 196px;
    background: transparent;
    border: 0px;
    -webkit-appearance: none;
}

#SelectAllCheckboxID {
    position: absolute;
    margin-top: 158px;
    margin-left: 0px;
    width: 74px;
    height: 48px;
    z-index: 898;
    border: 0px solid;
    vertical-align: middle;
}

    #SelectAllCheckboxID > input[type="checkbox"] {
        margin-top: 20px;
        margin-left: 31px;
        position: absolute;
        z-index: 1000;
        vertical-align: middle;
    }

#SCJ_SuggestedOrder1 > div > table {
    position: absolute;
    margin-top: 17px;
    margin-left: 0px;
    width: 752px;
    border: 0;
}

#tblSCJ_SuggestedOrder_All1 > thead > tr > th:nth-child(1) {
    background: transparent;
}

#tblSCJ_SuggestedOrder_All1 > thead > tr > th:nth-child(2) {
    padding-left: 14px;
}

#tblSCJ_SuggestedOrder_All1 > thead > tr > th:nth-child(3) {
    padding-right: 3px;
}

#tblSCJ_SuggestedOrder_All1 > thead > tr > th:nth-child(4) {
    text-align: right;
    padding-left: 74px;
}

#tblSCJ_SuggestedOrder_All1 > thead > tr > th:nth-child(5) {
    padding-left: 1px;
}

#tblSCJ_SuggestedOrder_All1 > thead > tr > th {
    background-color: transparent;
    border: 0;
    height: 13px;
}

#SCJ_SuggestedOrder1 > div > table > tbody {
    max-height: 410px;
}

#tblSCJ_SuggestedOrder_All1 > tbody > tr > td {
    border-left: 0;
    border-right: 0;
}

#tblSCJ_SuggestedOrder_All1 > div > table > tbody > tr > td:nth-child(2) {
    text-align: left;
    padding-left: 15px;
    padding-right: 4px;
}

#tblSCJ_SuggestedOrder_All1 > tbody > tr > td:nth-child(2) {
    padding-left: 35px;
}

#tblSCJ_SuggestedOrder_All1 > tbody > tr > td:nth-child(3) {
    padding-left: 12px;
    text-align: center;
}

#tblSCJ_SuggestedOrder_All1 > tbody > tr > td:nth-child(4) {
    padding-left: 30px;
    text-align: center;
}

#tblSCJ_SuggestedOrder_All1 > tbody > tr > td:nth-child(5) {
    padding-left: 25px;
    text-align: center;
}


.SCJselector {
    margin-left: 16px;
}

.SCJinput {
    text-align: center;
}

.isrTable {
    display: table;
}

.isrRow {
    display: table-row;
}

.soCell {
    position: absolute;
    display: table-cell;
    text-align: center;
    width: 100px;
    font-size: 21px;
    color: white;
    font-weight: 500;
    margin-left: 825px;
    margin-top: 103px;
}

.soCell2 {
    position: absolute;
    display: table-cell;
    text-align: center;
    width: 100px;
    font-size: 21px;
    color: white;
    font-weight: 500;
    margin-left: 825px;
    margin-top: 258px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    #tblSCJ_SuggestedOrder_All1 > tbody > tr td:nth-child(5) > input {
        border: 1px solid gray;
        width: 34px;
        height: 16px;
    }
}

/*█████████████████████████████████████████████████████████████████
   SUGG Order                                   START
█████████████████████████████████████████████████████████████████*/


div#selected-info1 {
    position: absolute;
    margin-left: 760px;
    margin-top: 324px;
}

#nuBarCode1 > img {
    height: 130px;
}


/*█████████████████████████████████████████████████████████████████
   SUGG Order                                   START
█████████████████████████████████████████████████████████████████*/


/*█████████████████████████████████████████████████████████████████
   SUGG Order Overview                                  START
█████████████████████████████████████████████████████████████████*/



#cell1, #cell2, #cell3, #cell4, #cell5, #cell6, #cell7, #cell8, #cell9, #cell10, #cell11, #cell12,
#cell13, #cell14, #cell15, #cell16, #cell17, #cell18, #cell19, #cell20 {
    width: 187px;
    height: 115px;
    /*border: 1px solid black;*/
    /*border-bottom: 2px solid #ababab;*/
}


#cell1 {
    position: absolute;
    top: 88px;
    z-index: 1;
    margin-left: 5px;
    /*background-color: aquamarine;*/
}

#cell2 {
    position: absolute;
    top: 88px;
    left: 205px;
    z-index: 1;
    /*background-color: cornflowerblue;*/
}

#cell3 {
    position: absolute;
    top: 88px;
    left: 405px;
    z-index: 1;
    /*background-color: aquamarine;*/
}

#cell4 {
    position: absolute;
    top: 88px;
    left: 604px;
    z-index: 1;
    /*background-color: cornflowerblue;*/
}

#cell5 {
    position: absolute;
    top: 88px;
    left: 798px;
    margin-left: 5px;
    /*background-color: aquamarine;*/
}



#cell6 {
    position: absolute;
    top: 241px;
    margin-left: 5px;
    /* background-color: cornflowerblue; */
}

#cell7 {
    position: absolute;
    top: 241px;
    left: 205px;
    /* background-color: aquamarine; */
}

#cell8 {
    position: absolute;
    top: 241px;
    left: 405px;
    /* background-color: cornflowerblue; */
}




#cell9 {
    position: absolute;
    top: 241px;
    left: 604px;
    /* background-color: cornflowerblue; */
}

#cell10 {
    position: absolute;
    top: 241px;
    left: 798px;
    /*background-color: cornflowerblue;*/
}

#cell11 {
    position: absolute;
    top: 385px;
    left: 5px;
    /*background-color: aquamarine;*/
}

#cell12 {
    position: absolute;
    top: 385px;
    left: 205px;
    /*background-color: cornflowerblue;*/
}





#cell13 {
    position: absolute;
    top: 385px;
    left: 405px;
    /*background-color: aquamarine;*/
}

#cell14 {
    position: absolute;
    top: 385px;
    left: 604px;
    /* background-color: cornflowerblue; */
}

#cell15 {
    position: absolute;
    top: 385px;
    left: 798px;
    /*background-color: aquamarine;*/
}

#cell16 {
    position: absolute;
    top: 524px;
    ;
    left: 5px;
    /*background-color: cornflowerblue;*/
}




#cell17 {
    position: absolute;
    top: 524px;
    margin-left: 205px;
    /*background-color: aquamarine;*/
}

#cell18 {
    position: absolute;
    top: 524px;
    left: 405px;
    /*background-color: cornflowerblue;*/
}

#cell19 {
    position: absolute;
    top: 524px;
    left: 604px;
    /*background-color: aquamarine;*/
}

#cell20 {
    position: absolute;
    top: 524px;
    left: 798px;
    /*background-color: cornflowerblue;*/
}

.cellBarcode {
    /*position: fixed;
    left: 82px;
    bottom: -81px;*/
    left: 10px;
    vertical-align: bottom;
    bottom: -5px;
    position: absolute;
}

.cellProductName {
    position: relative;
    bottom: 5px;
    left: 7px;
    /*text-align: center;*/
    font-size: 12px;
    font-weight: bold;
}

.cellProductQTY {
    position: relative;
    bottom: 3px;
    left: 7px;
    font-size: 11.5px;
    /* font-weight: bold; */
    width: 100px;
}

.cellProductUPC {
    position: relative;
    bottom: 3px;
    left: 7px;
    /* text-align: center; */
    font-size: 11.5px;
    width: 130px;
    /* font-weight: bold; */
}

.cellProductStatus {
    position: relative;
    bottom: 3px;
    left: 7px;
    /* text-align: center; */
    font-size: 11.5px;
    width: 138px;
    /* font-weight: bold; */
}

/*.cellProductUPC {
    position: relative;
    bottom: -4px;
    left: 4px;
    font-size: 12px;
}*/



/*█████████████████████████████████████████████████████████████████
   SUGG Order Overview                                  END
█████████████████████████████████████████████████████████████████*/
